---
layout: default
external-url:
---

<section class="content">
  {% assign summary = site.posts | where:"type","summary" %}
  {% assign experience = site.posts | where:"type":"job_entry" %}
  {% assign education = site.posts | where:"type":"education" %}
  {% assign certification = site.posts | where:"type":"certification" %}
  {% assign volunteer = site.posts | where:"type":"volunteer" %}
  {% assign award = site.posts | where:"type":"award" %}
  <h2>Skills Summary</h2>
  <p>{{ summary[0].content }}</p>

  <h2>Experience</h2>
  {% for post in experience %}
  <h3><strong>{{ post.title }}</strong>, <em>{{ post.company }}</em></h3>
  <h4><em>{{ post.date_range}}</em></h4>
  <p>{{ post.content }}</p>
  {% endfor %}
  <h2>Education</h2>
  {% for post in education %}
  <h3><strong>{{ post.title }}</strong>, <em>{{ post.company }}</em></h3>
  <h4><em>{{ post.date_range}}</em></h4>
  <p>{{ post.content }}</p>
  {% endfor %}
  <h2>Certifications</h2>
  {% for post in certification %}
  <h3><strong>{{ post.title }}</strong>, <em>{{ post.company }}</em></h3>
  <h4><em>{{ post.date_range}}</em></h4>
  <p>{{ post.content }}</p>
  {% endfor %}
  <h2>Volunteer Work</h2>
  {% for post in volunteer %}
  <h3><strong>{{ post.title }}</strong>, <em>{{ post.company }}</em></h3>
  <h4><em>{{ post.date_range}}</em></h4>
  <p>{{ post.content }}</p>
  {% endfor %}
  <h2>Awards</h2>
  {% for post in award %}
  <h3><strong>{{ post.title }}</strong>, <em>{{ post.company }}</em></h3>
  <h4><em>{{ post.date_range}}</em></h4>
  <p>{{ post.content }}</p>
  {% endfor %}
</section>
